.container{
    padding: 30px 20px;
    
}
.user {
    
    margin-bottom: 20px;
    
    display: flex;
    align-items: center;
}

.info{
    width: 80px;
    min-height: 112px;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    border: 1px solid black;
    border-radius: 9px;
    padding: 0 10px;
}

.usersPhoto {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.userBtn {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 15px;
}

.location{
    font-weight: normal;
    text-align: right;
    margin: 10px 0;
}