.formControls.error textarea {
    border: 2px solid red;
}
.formControls.error span {
    color: red;
}

.formSummaryError {
    padding: 5px 10px;
    margin: 10px 0;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    width: fit-content;
}